<router-outlet></router-outlet>
<div class='app'>
  <div class='app-title-container'>
    <h1 class='app-title'>STAR WARS GLOSSARY</h1>
  </div>
  <div class='search-bar-container'>
      <app-search-bar (input_changed)="searchInputChange($event)"></app-search-bar>
      <app-search-button-group
        (character_search)="characterSearch()"
        (planet_search)="planetSearch()"
        (ship_search)="shipSearch()"
        (shuffle)="shuffle()"
      >
      </app-search-button-group>
  </div>
   <div class='results-section-container'>
      <app-scroll-text *ngIf='searchResults.length === 0'></app-scroll-text>
  </div>
</div>

 